<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>x</key>
    <array>
        <real>-130</real>
        <real>-65</real>
        <real>0</real>
        <real>65</real>
        <real>130</real>
    </array>
	<key>y</key>
    <array>
        <real>100</real>
        <real>160</real>
        <real>220</real>
    </array>
</dict>
</plist>
