<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>x</key>
	<array>
		<real>84</real>
		<real>140</real>
		<real>196</real>
		<real>252</real>
        <real>308</real>
	</array>
	<key>y</key>
	<array>
		<real>28</real>
		<real>84</real>
		<real>140</real>
		<real>196</real>
	</array>
</dict>
</plist>
